<table class="table table-striped logs-table">
  <%= render 'logs/partials/log_table_header' %>
  <tbody>
    <% @logs.each do |log| %>
    	<%= render 'logs/partials/log_table_row', log: log %>
    <% end %>
  </tbody>
</table>
