
<div id="directory" class="module blue">
	<h3>Directory</h3>
		<div class="left">
			<ul>
				<li> 803 - Alex</li>
				<li> 805 - Ben</li>
				<li> 806 - Steph</li>
				<li> 808 - Darrin</li>
				<li> 810 - Nancy</li>
				<li> 811 - Elissa</li>
				<li> 813 - Matt</li>
			</ul>
		</div>

		<div class="right">
			<ul>
				<li> 814 - Mark</li>
				<li> 816 - John</li>
				<li> 817 - Aaron</li>
				<li> 818 - Betty</li>
				<li> 819 - Angela</li>
				<li> 820 - Jake</li>
				<li> 822 - Dina</li>
			</ul>
		</div>
	

	</ul>
</div>

<div id="scheduling" class="module blue">
	<h3>Transfer to Betty</h3>
	<ol>
		<li>Put person on hold</li>
		<li>Hit "Conf"</li>
		<li>Dial 818 (for Betty), talk to Betty</li>
		<li>Hit "Conf" (connects all 3 lines)</li>
		<li>Hit "Leave"</li>
	</ol>
</div>

<div id="handy-numbers" class="module blue">
	<h3>Handy Numbers</h3>
	<br />
		<ul>
			<li> Dymo: (877) 724-8324 </li>
			<li> Lenovo: (800) 426-7378</li>
			<li> PMM: (800) 319-5581</li>
		</ul>
</div>

<div id="kidcheck-info" class="module blue">
	<h3>KidCheck Info</h3>
	<br />
	<p>(855) 543-2432<br />
	(208) 538-2000</p>
	<p>KidCheck, Inc. <br />
	187 E 50th St<br />
	Boise, ID  83714</p>
</div>

<div id="infusionsoft" class="module blue">
	<h3>Scheduling</h3>
	<ol>
		<li>Find the individual</li>
		<li>Fill out KidCheck Fields (time, date, save)</li>
		<li>Select Follow-up Sequence (and save)</li>
	</ol>
	<p><a href="http://kidcheck.fullslate.com/services/1" target="_blank"><strong>Online Scheduling: Demo</strong></a></p>
	<p><a href="http://kidcheck.fullslate.com/services/124" target="_blank"><strong>Online Scheduling: Training</strong></a></p>
</div>

<div id="windows81" class="module blue double-width">
	<h3>Lenovo/Win 8.1 Wifi Fix</h3>
		<ol>
			<p>Hover in bottom right corner  >  Settings  >  Control Panel > Hardware and Sound  >  Under 'Devices and Printers' click Device Manager  >  Under 'Network adapters', right click the Realtek one (has yellow problem triangle)  >  Update Driver Software  >  Browse my computer for software  >  Let me pick from a list of device drivers on my computer  >  Choose Realtek driver (not Microsoft one)  >  Next</p>
		</ol>
</div>