@import "variables";

.my_clip_button {
	display: inline;
	margin-right: 8px;
	font-size: 18px;
	cursor: pointer;
}

.zeroclipboard-is-hover {
	color: #428bca;
}

.zeroclipboard-is-active {
	color: #254E71;
}

.followups-table {
	max-width: 80%;
	margin: 0 auto 20px;
	.followup-due-row {
		background-color: #DFF2DF;
	}
	.followup-past-due-row {
		background-color: #ffb0b0;
	}
	.followup-row{
		background-color: #FFF4EC;
	}
}


