@import "variables";

// ======= Sunday =======

.metrics-sunday {
	margin-top: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	th {
		text-align: center;
		height: 75px;
		width: 100px;
		border-bottom: 1px solid $lt-gray;
	}
	td {
		height: 75px;
		font-size: 20px;
		color: $gray;
	}
	.emphasis {
		font-weight: 500;
		color: black;
	}
	.col-line-left {
		border-left: 1px solid $lt-gray;
	}
}

.sunday-monthlies {
	margin: 30px;
	padding: 30px;
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-align: right;
	color: $gray;
	background-color: #FEFFE3;
	display: inline-block;
	float: right;
	border: 1px dotted $gray;
	border-radius: 5px;
	span {
		padding-left: 8px;
		font-size: 22px;
		color: black;
	}

}

// ======= Monthly =======

.metrics-month {
	margin: 30px auto;
	font-family: 'Lato', sans-serif;
	th {
		text-align: center;
		width: 175px;
		padding: 10px 0;
	}
	.totals-col-header {
		color: $gray;
		font-weight: 300;
	}
	td {
		height: 110px;
		border: 1px solid #CCC;
		border-radius: 3px;
		text-align: top;
	}
	a:hover {
		text-decoration: none;
	}
	.totals-col {
		border: none;
		text-align: center;
		font-size: 30px;
		color: $gray;
		font-weight: 300;
		line-height: .8;
		span {
			font-size:16px;
		}
	}

	.mm-datebox {
		float: left;
		position: absolute;
		padding: 8px;
		margin-top: -58px;
		text-align: center;
		color: #999;
		.datebox-month {
			font-size: 12px;
			color: #999;
		}
		.datebox-day {
			font-size: 20px;
			font-weight: 400;
			margin-top: -4px;
		}
	}

	.mm-caseinfo {
		position: absolute;
		width: 175px;
		margin-top: -50px;
	}

	.mm-casecount {
		margin-top: 10px;
		font-size: 46px;
		text-align: center;
	}

	.mm-mincount {
		margin-top: -5px;
		font-size: 16px;
		text-align: center;
		color: #777;
	}
	.highlight-diff-month {
		background-color: #FDFFD4;
	}
}

// ======= Tags =======

.tag-columns {
	-moz-column-width: 400px;
  	-webkit-column-width: 400px;
  	column-width: 400px;
}

.metrics-tag-list {
	display:relative;
	li {
		margin:5px;
		width: 150px;
		font-size: 14px;
		font-weight: 300;
	}
}
