<div class="col-xs-10 col-xs-offset-1">
<footer class="footer">
  <small class="float-right">
    Support Tracker ©2015.  A <a href="http://www.kidcheck.com/support" target="_blank">KidCheck Support</a> creation.
  </small>
</footer>
</div>